<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.DAP_ProyectoSistFinanConnectionString"
            connectionString="Data Source=laptop-ptktl19e\estrella;Initial Catalog=DAP_ProyectoSistFinan;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>